{
    "name": "PYNQ-Z2-Sandbox",
    "host": "10.43.0.1",
    "protocol": "sftp",
    "port": 22,
    "username": "student",    
    "password": "student",
    "remotePath": "/home/student/pavel",
    "uploadOnSave": true,
    "watcher": {
        "files": "**/*",
        "autoUpload": true,
        "autoDelete": false
    },
    "ignore": [
        ".vscode",
        ".git",
        "__pycache__",
        "*.so",
        "node_modules"
    ]
}